body {
  background: #0f0f0f;
  color: white;
  font-family: sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #1a1a1a;
}

.logo-box {
  display: flex;
  gap: 10px;
}

.logo {
  width: 40px;
}

.sidebar {
  position: fixed;
  left: -200px;
  background: #222;
  height: 100%;
  width: 200px;
  transition: 0.3s;
}

.sidebar.show {
  left: 0;
}

.card {
  background: #1a1a1a;
  margin: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
}

.rank {
  color: gold;
}